<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Professors</title>
</head>
<body>
    <form action="{% url 'professor-register' %}" method="POST">
        {% csrf_token %}
        <label for="jmbg">JMBG</label>
        <input type="text" name="jmbg" id="jmbg">
        <br>
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name">
        <br>
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name">
        <br>
        <input type="submit" value="Register">
    </form>
<table>
        <thead>
            <tr>
                <th>JMBG</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        {% if professors %}
        <tbody>
            {% for prof in professors %}
                <tr>
                    <td>{{ prof.jmbg }}</td>
                    <td>{{ prof.first_name }}</td>
                    <td>{{ prof.last_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
</body>
</html>